h1 {
  color: #44633F;
}

body {
  color: #7D431C;
/*  font-family: arial;, sans-serif;*/
  font-family: Space Grotesk;
  background-color: #B7C9B5;
  text-align: justify;
}

#logo {
  display : block;
  border-radius: 20px;
  border: 5px solid #000;
  vertical-align: middle;
  margin: 0 auto;
}

#mon-image {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: 5px solid #000;
}

#conteneur {
  display: flex;
  justify-content: space-between;
}


header {
  text-align: center;
  margin: 50px;
}

#mon-image:hover {
  opacity: 0.8;
  cursor: pointer;
}




