h1 {
  color: #8AAB75;
}

body {
  color: white;
  font-family: Space Grotesk;
  background-color: #3A489A;
  text-align: center;
}


ul {
  text-align: justify;
}

ol {
  text-align: justify;
}


h4 {
  vertical-align: middle;

}

h2{
  color: #AE8A6F;
}


#logo {
  display : block;
  border-radius: 20px;
  border: 5px solid #000;
  vertical-align: middle;
  margin: 0 auto;
}

#mon-image {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: 5px solid #000;
}

#conteneur {
  display: flex;
  justify-content: space-between;
  /text-align: center;
}


header {
  text-align: center;
  margin: 50px;
}

#mon-image {
  opacity: 0.8;
  cursor: pointer;
  display: inline-block;
  width: 150px; /* ou la largeur souhaitée */
  height: auto; /* pour conserver les proportions */
  margin: 10px; /* espace entre les images */
}




